.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  z-index: 9000; /*Make sure it appears on top of other elements */
  backdrop-filter: blur(5px); /* Add a 5-pixel blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-overlay {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 42%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  z-index: 9001; /*Make sure it appears on top of other elements */
}

.btn {
  background-color: white;
  top: 10;
  right: 10;
  height: 100%;
}

.list {
  list-style: none;
}

.span {
  font-weight: 500;
}

.anc {
  text-decoration: none;
}
